#fijo{
    position: fixed;
    background-image: url('../img/whatsapp-icon-png.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 70px;
    bottom: 80px; /* Ajusta este valor según lo necesites */
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 50px; /* Asegura que el botón sea un cuadrado perfecto */
    height: 50px; /* Asegura que el botón sea un cuadrado perfecto */
    border: none; /* Elimina el borde por defecto del botón */
}



